<div id="<%= dom_id purchase_detail %>">
  <p>
    <strong>Count:</strong>
    <%= purchase_detail.count %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= purchase_detail.price %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= purchase_detail.purchase_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase_detail.product_id %>
  </p>

</div>
